h1 {
    color:  #356cac;
    text-align: left;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    margin: 5em;
    text-align: justify;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar-header {
    padding: 20px;
    background: #1b64b8;
    text-align: center;
    color: #fff;
}

#content {
        width: calc(100% - 250px);
        padding: 70px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
}

#sidebar {
    width: 290px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color:  #fff;
    transition: all 0.3s;
    font-size: 17px;
    text-align: left;
}




/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 500px) {

  h1{
    font-size: 2em;
    text-align: left;
  }

  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  #sidebar {
    width: 35%;
    float: left;
    font-size: 70%;
    padding-right: 10;
  /*  height: auto;
    position: relative;
    display: block; */
  }
/*  .sidebar a {float: left;}
  div.content {margin-left: 0;} */

  #content{
    width: 80%;
    float: left;
    padding-right: 20;
  }

/*  body{
    overflow-y: visible;
    width: 100%;
  } */
}


#sidebar::-webkit-scrollbar {
    display: none;
}


.name {
    padding-top: 20px;
}

.invisible {
    visibility: hidden;
}

.container {
    font-family: 'Montserrat', sans-serif;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#curatorNotes {
    font-size: 14px;
}

.titles {
    font-size: 1.4rem;
    color:  #2571a3;
    margin-bottom: 7px;
}

.paragraph {
    margin-top: 11px;
    margin-bottom: 7px;
}

a:link{text-decoration: none;}
