
body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    margin: 5em;
    text-align: justify;
}

h1, h2 {
  color:  #757575;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 25px;
}

.container-fluid {
    display: flex;
    width: 100%;
}

.sidebar-header {
    padding: 0px;
    width: 100%;
    background: #005a96;
    height: 80px;
    text-align: center;
    color: #fff;
    font-family: 'Work Sans';
    border-radius: 0 5px 5px 0;
}

#content {
        width: calc(100% - 250px);
        padding: 90px 30px 70px 80px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
}



button a {
  color:white;
  text-align:left;
  padding: 10;
}

button a:hover {
  color:white;
}

.card {
  flex-direction: column;
}

.uno{ padding-top: 10px;}

#sidebar {
    width: 290px;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color:  #fff;
    transition: all 0.3s;
    font-size: 14px;
    text-align: left;
    font-family: 'Work Sans';

}

.list-unstyled {
  width: 100%;
  padding-left: 50px;
  overflow-y:scroll;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.list-unstyled::-webkit-scrollbar {
  display: none;
}

.intro {
  border-bottom: solid 0.5px;
  border-top: hidden ;
  border-image: linear-gradient( to right, #757575, rgba(0, 0, 0, 0) ) 100% 0%;
}

.titles {
  font-size: 1.2rem;
  color:  #2571a3;
  margin-bottom: 7px;
}

.pdf {
  padding-left: 40%;
  padding-bottom: 5%;
  float:center; 

}

#download {
  background-color: #005a96;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: bold;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {

  h1, h2{ 
    font-size: 1em;
    text-align: left;
  }
  .card {
    flex-direction: row;
    overflow-y: scroll;
    max-height: 50vh;
  }

  .card::-webkit-scrollbar {
    display: none;
  }

  .container-fluid{
    width: 100%;
    margin: 0 auto;
  }
  #sidebar {
    width: 100%;
    font-size: 60%;
    height: auto;
    position: fixed;
    padding-right: 10;
    text-align: left;
    float: center;
    overflow-y: scroll;

  /*  height: auto;
    position: relative; */

  }

  .sidebar-header {
    height: 45%;
  }

  #indice {
    padding-bottom: 1%;
    margin: 0;
  }
  #sidebar a {float: center;}
  div.content {margin-left: 0;}

  .visible {
    display: none;
  }

  .list-unstyled {
     text-align: left;
     width: 100%;
     padding-left: 35%;
     font-size:medium;
  }

  #content{
    width: 90%;
    float: left;
    padding-right: 20;
    padding-left: 0;
    display: block;
    padding-top: 250px;
    /*padding right: 10; */
  }

  .titles {
    font-size: 0.9rem;
  }
/*  body{
    overflow-y: visible;
    width: 100%;
  } */
}




@media screen and (max-width: 350px) {
   body {
     text-align: left;
     font-size: smaller;
   }
   h2 {
     font-size: smaller;
   }

   .titles {
     font-size: 0.8rem;
   }

   h1 {
     font-size: medium;
   }

   .list-unstyled {
     position: relative;
     right: 10px;
     box-sizing: unset;
     font-size: 0.6rem;
     width:100%;
     padding-left: 30%;
     padding-right: 30px;
     text-align: left;
   }

   .card {
     display: block;
   }
   .sidebar-header {
     height: 28%;
     width: 100%;
   }
   #indice {
     padding-bottom: 10px;
    
   }

   #content {
     padding-top: 80%;
   }
   .pdf {
     margin-bottom: 6%;
     padding-left: 27%;  
   }
}


.name {
    padding-top: 20px;
}

.invisible {
    visibility: hidden;
}

.container {
    font-family: 'Montserrat', sans-serif;
    padding-right: 0;
}

#sidebar ul li a {

    font-size: 1.1em;

}

#curatorNotes {
    font-size: 14px;
}



.paragraph {
    margin-top: 11px;
    margin-bottom: 7px;
}

a:link{text-decoration: none;}
